<!-- Vendor JS Files -->
<script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/glightbox/js/glightbox.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/swiper/swiper-bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/waypoints/noframework.waypoints.js}"></script>
<script type="text/javascript" th:src="@{/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script src="js/main.js"></script>

<!-- Plugin JS Files -->
<script type="text/javascript" th:src="@{/js/library/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/library/jquery.twbsPagination.min.js}"></script>