<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div>
                    <div class="footer-info">
                        <h3>㈜리온컴퍼니</h3>
                        <p>
                            사업자 등록번호 : 891-81-03173 대표: 김국진<br>
                            호스팅 서비스 : 주식회사 리온컴퍼니<br/>
                            경기도 안양시 동안구 엘에스로 116번길 25-32 안양SKV1 1036호<br/>
                            T 070-5184-4600<br/>
                            E contact@reonaicoffe.com<br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="social-links mt-3 d-flex justify-content-center">
                <a href="https://www.instagram.com/reonai_official_kr" class="instagram"><i class="bx bxl-instagram"></i></a>
            </div>
            <div class="row">
                <div class="copyright">
                    &copy; Copyright <strong><span>REONAi</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
        </div>
    </div>
</footer>