<header th:fragment="header (title)" id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto"><a href="/">RE:ON</a></h1>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="/" th:classappend="${title eq 'home' ? 'active' : ''}">Home</a></li>
        <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/testimonials">Testimonials</a></li>
          </ul>
        </li>
        <li><a href="/services" th:classappend="${title eq 'services' ? 'active' : ''}">Services</a></li>
        <li><a href="/portfolio" th:classappend="${title eq 'portfolio' ? 'active' : ''}">Portfolio</a></li>
        <li><a href="/pricing" th:classappend="${title eq 'pricing' ? 'active' : ''}">Pricing</a></li>
        <li><a href="/blog" th:classappend="${title eq 'blog' ? 'active' : ''}">Blog</a></li>
        <li><a href="/contact" th:classappend="${title eq 'contact' ? 'active' : ''}">Contact</a></li>
        <li><a href="/record" th:classappend="${title eq 'record' ? 'active' : ''}">Record</a></li>
        <li><a href="/index" th:classappend="${title eq 'index' ? 'active' : ''}" class="getstarted">Login</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>