<div th:replace="~{common/head :: head('Records')}"></div>
<link th:href="@{/css/record/record.css}" rel="stylesheet"/>
<body>
<div th:replace="~{common/header :: header('records')}"></div>
<style>
    .background-black {
        background-color: #222529; !important;
    }
    .font-white {
        color: white; !important;
    }
    .bi-folder::before {
        color: white; !important;
    }
</style>

<main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2><a href="/admin/records" class="small-menu">All Records</a></h2>
                <ol>
                    <li><a href="/" class="small-menu">Home</a></li>
                    <li><a href="/admin/records" class="small-menu">All Records</a></li>
                </ol>
            </div>
        </div>
    </section>

    <section id="notice" class="notice">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="entries">
                    <article class="entry entry-single background-black">

                        <h2 class="entry-view-title font-white">
                            <p>[(${record.title})]</p>
                        </h2>
                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center">
                                    <i class="bi bi-clock"></i>[(${#temporals.format(record.createdDt, 'yyyy-MM-dd
                                    HH:mm')})]
                                </li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <div id="temperatureChart"></div>
                            <div id="sensorChart"></div>

                            <h2 class="font-white" style="margin-top: 50px;">Profile Details</h2>

                            <div class="profile-info">
                                <table class="table table-dark table-hover">
                                    <tbody>
                                    <tr>
                                        <th scope="row">Total Roasting Time</th>
                                        <td id="totalRoastingTime"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Input Capacity</th>
                                        <td>[(${record.inputCapacity})] g</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Preheat</th>
                                        <td>[(${record.preheatTemp})] &#8451;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dispose</th>
                                        <td>[(${record.disposeTime})] / [(${record.disposeTemp})] &#8451; <span class="comment">(Drum Temp)</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Turning Point</th>
                                        <td>[(${record.turningPointTime})] / [(${record.turningPointTemp})] &#8451; <span class="comment">(Drum Temp)</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">First Crack</th>
                                        <td>[(${record.creakInfo.firstCrackPointTime})] / [(${record.creakInfo.firstCrackPointTemp})] &#8451; <span class="comment">(Drum Temp)</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Second Crack</th>
                                        <td>[(${record.creakInfo.secondCrackPointTime})] / [(${record.creakInfo.secondCrackPointTemp})] &#8451; <span class="comment">(Drum Temp)</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">DTR</th>
                                        <td>[(${record.dtr})] &#37;</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div style="height: 1000px; margin-top: 20px; box-sizing: border-box">
                                <div id="myGrid" class="ag-theme-quartz-dark"></div>
                            </div>
                        </div>

                        <div class="entry-footer">
                            <i class="bi bi-folder"></i>
                            <ul class="cats">
                                <li><a href="/admin/records" style="color: white;">All Records</a></li>
                            </ul>
                        </div>

                        <div class="entry-button">
                            <div>
                                <button th:onclick="|location.href='@{/admin/records}'|" class="btn btn-light">목록</button>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="~{common/footer :: footer}"></div>
</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<div th:replace="~{common/commonjs}"></div>

<script th:src="@{/js/library/amcharts/index.js}"></script>
<script th:src="@{/js/library/amcharts/xy.js}"></script>
<script th:src="@{/js/library/amcharts/themes/Animated.js}"></script>

<script th:src="@{/js/library/agGrid/ag-grid-community.min.js}"></script>

<script th:src="@{/js/record/chart.js}"></script>
<script th:src="@{/js/record/grid.js}"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    const record = [[${record}]];

    let dataSize = 0;
    if (record.temp1 !== null) {
        dataSize = JSON.parse(record.temp1).length;
    }

    const totalRoastingTime = secondsToMMSS(record.totalRoastingSecondsTime);
    document.getElementById('totalRoastingTime').textContent = totalRoastingTime;

    const timeArr = generateTimeArr(dataSize);
    const temp1Arr = generateGraphData(record.temp1, dataSize);
    const temp2Arr = generateGraphData(record.temp2, dataSize);
    const temp3Arr = generateGraphData(record.temp3, dataSize);
    const temp4Arr = generateGraphData(record.temp4, dataSize);
    const rorArr = stringToFloatTwoDecimals(generateGraphData(record.ror, dataSize));
    const heaterArr = generateGraphData(record.heater, dataSize);
    const fanArr = generateGraphData(record.fan, dataSize);
    const noteArr = generateNoteData(record);

    function generateGraphData(data, size) {
        if (data === null) {
            return Array(size).fill(0);
        }

        return JSON.parse(data);
    }

    function generateTimeArr(dataSize) {
        let result = [];
        for (let i = 0; i < dataSize; i++) {
            result.push(secondsToMMSS(i));
        }
        return result;
    }

    function secondsToMMSS(seconds) {
        const minutes = Math.floor(seconds / 60);
        const remainingSeconds = seconds % 60;

        const formattedMinutes = minutes.toString().padStart(2, '0');
        const formattedSeconds = remainingSeconds.toString().padStart(2, '0');

        return `${formattedMinutes}:${formattedSeconds}`;
    }

    function stringToFloatTwoDecimals(data) {
        const result = [];
        data.forEach(str => {
            const floatNum = parseFloat(str);
            const twoDecimal = parseFloat(floatNum.toFixed(2));
            result.push(twoDecimal);
        });
        return result;
    }

    function generateNoteData(data) {
        let result = [];
        const disposeTime = data.disposeTime;
        const turningPointTime = data.turningPointTime;
        const firstCrackPointTime = data.creakInfo.firstCrackPointTime;
        const secondCrackPointTime = data.creakInfo.secondCrackPointTime;

        result[MMSSToSeconds(disposeTime)] = 'Dispose';
        result[MMSSToSeconds(turningPointTime)] = 'Turning Point';
        result[MMSSToSeconds(firstCrackPointTime)] = 'First Crack';
        result[MMSSToSeconds(secondCrackPointTime)] = 'Second Crack';

        return result;
    }

    function MMSSToSeconds(timeString) {
        const parts = timeString.split(":");
        const minutes = parseInt(parts[0], 10);
        const seconds = parseInt(parts[1], 10);

        return (minutes * 60) + seconds;
    }
    /*]]>*/
</script>
</body>
</html>
