<div th:replace="/common/head :: head"></div>
<body>
<div th:replace="/common/header :: header('record')"></div>

  <main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Record</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Record</li>
          </ol>
        </div>
      </div>
    </section>

    <section id="services" class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="icon-box">
              <i class="bi bi-bar-chart"></i>
              <h4><a href="#">Lorem Ipsum</a></h4>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-bar-chart"></i>
              <h4><a href="#">Dolor Sitema</a></h4>
              <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-bar-chart"></i>
              <h4><a href="#">Sed ut perspiciatis</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-bar-chart"></i>
              <h4><a href="#">Nemo Enim</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-bar-chart"></i>
              <h4><a href="#">Magni Dolore</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-bar-chart"></i>
              <h4><a href="#">Eiusmod Tempor</a></h4>
              <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
            </div>
          </div>
        </div>

        <div class="paging-div">
          <ul class="pagination" id="pagination"></ul>
        </div>
      </div>
    </section>

    <div th:replace="/common/footer :: footer"></div>
  </main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div th:replace="/common/commonjs"></div>
<script type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/
  window.pagObj = $('#pagination').twbsPagination({
    totalPages: 10,
    startPage: 1,
    visiblePages: 10,
    prev: "‹",
    next: "›",
    first: '«',
    last: '»',
    onPageClick: function (event, page) {
    }
  }).on('page', function (event, page) {
    // searchNoticeList(page - 1);
  });
  /*]]>*/
</script>
</body>
</html>