<div th:replace="~{common/head :: head('Products')}"></div>
<body>
<div th:replace="~{common/header :: header('Products')}"></div>

<main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2><a href="/admin/products" class="small-menu">Products</a></h2>
                <ol>
                    <li><a href="/" class="small-menu">Home</a></li>
                    <li><a href="/admin/products" class="small-menu">Products</a></li>
                </ol>
            </div>
        </div>
    </section>

    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="entries">
                    <article class="entry entry-single">
                        <form th:object="${product}" th:action="@{//admin/products/serial-no}" method="post">
                            <h2 class="entry-view-title">Create Serial No</h2>

                            <!-- Category -->
                            <div class="entry-content" style="margin-top: 20px; margin-bottom: 10px">
                                <label for="category" th:text="Category">Category</label>
                            </div>
                            <select id="category" th:field="*{category}" class="form-select width-300">
                                <option value="">===== Select Category =====</option>
                                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.title}"></option>
                            </select>
                            <div class="field-error" th:errors="*{category}">product category error</div>

                            <!-- Name -->
                            <div class="entry-content" style="margin-top: 20px; margin-bottom: 10px">
                                <label for="name" th:text="Name">Name</label>
                            </div>
                            <input type="text" id="name" th:field="*{name}" th:errorclass="field-error" class="form-control width-300" placeholder="Product Name.">
                            <div class="field-error" th:errors="*{name}">name error</div>

                            <!-- ProductNo -->
                            <div class="entry-content" style="margin-top: 20px; margin-bottom: 10px">
                                <label for="productNo" th:text="ProductNo">ProductNo</label>
                            </div>
                            <input type="text" id="productNo" th:field="*{productNo}" th:errorclass="field-error" class="form-control width-300" placeholder="Product No.">
                            <div class="field-error" th:errors="*{productNo}">productNo error</div>

                            <!-- Color -->
                            <div class="entry-content" style="margin-top: 20px; margin-bottom: 10px">
                                <label for="color" th:text="Color">Color</label>
                            </div>
                            <select id="color" th:field="*{color}" class="form-select width-300">
                                <option value="">===== Select Color =====</option>
                                <option th:each="color : ${colors}" th:value="${color}" th:text="${color}"></option>
                            </select>
                            <div class="field-error" th:errors="*{color}">color error</div>

                            <!-- RatedVoltage -->
                            <div class="entry-content" style="margin-top: 20px; margin-bottom: 10px">
                                <label for="ratedVoltage" th:text="RatedVoltage">RatedVoltage</label>
                            </div>
                            <select id="ratedVoltage" th:field="*{ratedVoltage}" class="form-select width-300">
                                <option value="">== Select Rated Voltage ==</option>
                                <option th:each="ratedVoltage : ${ratedVoltages}" th:value="${ratedVoltage}" th:text="${ratedVoltage}"></option>
                            </select>
                            <div class="field-error" th:errors="*{ratedVoltage}">ratedVoltage error</div>

                            <div class="entry-button mt-5">
                                <div sec:authorize="hasRole('ROLE_ADMIN')">
                                    <button type="submit" class="btn btn-outline-primary">Register</button>
                                    <button type="button" th:onclick="|location.href='@{/admin/products}'|" class="btn btn-outline-secondary">Cancel</button>
                                </div>
                            </div>
                        </form>

                    </article>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="~{common/footer :: footer}"></div>
</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<div th:replace="~{common/commonjs}"></div>
</body>
</html>