<div th:replace="~{common/head :: head('Home')}"></div>
<body>
<div th:replace="~{common/header :: header('home')}"></div>

  <main id="main">

    <section>
      <img src="img/slide/slide-1.jpg" class="img-fluid" alt="">
    </section>

    <section>
      <img src="img/slide/slide-2.jpg" class="img-fluid" alt="">
    </section>

    <section>
      <img src="img/slide/slide-3.jpg" class="img-fluid" alt="">
    </section>

    <section>
      <img src="img/slide/slide-4.jpg" class="img-fluid" alt="">
    </section>

    <section id="features" class="features">
      <div class="container">
        <div class="section-title">
          <h2>Downloads</h2>
          <p>Manual</p>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1" aria-selected="true" role="tab">R200</a>
              </li>
<!--              <li class="nav-item" role="presentation">-->
<!--                <a class="nav-link" data-bs-toggle="tab" href="#tab-2" aria-selected="true" role="tab">to be continued</a>-->
<!--              </li>-->
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1" role="tabpanel">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>R200 Product Manual</h3>
                    <a href="https://file.notion.so/f/f/9cc387d3-58b5-46fa-bd54-bb29ef3ef834/1f28403d-e8e1-40e7-a816-b651cdb67862/R200_%E1%84%8C%E1%85%A6%E1%84%91%E1%85%AE%E1%86%B7_%E1%84%89%E1%85%A5%E1%86%AF%E1%84%86%E1%85%A7%E1%86%BC%E1%84%89%E1%85%A5_24.04.22.(Hailey)_V1.pdf?id=8840fadd-3766-4c4c-9f2b-f29301c38c19&table=block&spaceId=9cc387d3-58b5-46fa-bd54-bb29ef3ef834&expirationTimestamp=1714262400000&signature=lB-5EyalDgvZSZYEduoqa9xdSU0HpGkl54zqdAFwalk&downloadName=R200+%E1%84%8C%E1%85%A6%E1%84%91%E1%85%AE%E1%86%B7+%E1%84%89%E1%85%A5%E1%86%AF%E1%84%86%E1%85%A7%E1%86%BC%E1%84%89%E1%85%A5_24.04.22.%28Hailey%29_V1.pdf" target="_blank">
                      Download
                    </a>
                  </div>
                </div>
              </div>
<!--              <div class="tab-pane" id="tab-2" role="tabpanel">-->
<!--                <div class="row">-->
<!--                  <div class="col-lg-8 details order-2 order-lg-1">-->
<!--                    <h3>to be continued</h3>-->
<!--                    <a href="" target="_blank">-->
<!--                      to be continued-->
<!--                    </a>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
            </div>
          </div>
        </div>

      </div>
    </section>

    <section id="contact" class="contact">
      <div class="container">
        <div>
          <iframe style="border:0; width: 100%; height: 270px;"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1585.3355283754247!2d126.94815908893631!3d37.373959574549716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b67575a9a073f%3A0xa074cc2589075415!2z6rK96riw64-EIOyViOyWkeyLnCDrj5nslYjqtawg7JeY7JeQ7Iqk66GcMTE267KI6ri4!5e0!3m2!1sko!2skr!4v1713166636464!5m2!1sko!2skr"
                  frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">
          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>25-32, LS-ro 116beon-gil, Dongan-gu, Anyang-si, Gyeonggi-do, Republic of Korea</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>contact@myreon.net</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+82 070 5184 4600</p>
              </div>
            </div>
          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">
            <div class="php-email-form" id="email-form" onsubmit="return false;">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" id="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center">
                <button type="button" class="send" id="send-message" th:onclick="'send()'">Send Message</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div th:replace="~{common/footer :: footer}"></div>
  </main>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div th:replace="~{common/commonjs}"></div>
</body>
</html>