<div th:replace="~{common/head :: head('Login')}"></div>
<body>
<div th:replace="~{common/header :: header('login')}"></div>
<link th:href="@{/css/login/login.css}" rel="stylesheet"/>

<main class="container-login">
    <div class="block-top"></div>
    <div class="login-box">
        <div class="login-row">
            <div class="login-col">
                <div class="login-card" style="width: 100%; border-radius: 15px;">
                    <div class="login-card-body">
                        <div class="login-card-content">
                            <h1 id="login-title">Sign In</h1>
                            <div class="login-page">
                                <form class="register-form transform-form" id="register-form" onsubmit="return false;">
                                    <label>email</label>
                                    <div class="clearfix">
                                        <div class="box1">
                                            <input id="sign-up-email" type="email" placeholder="example@reonaicoffee.com" required/>
                                        </div>
                                        <div class="box2">
                                            <button type="button" class="btn btn-warning" th:onclick="'sendAuthCode()'">발송</button>
                                        </div>
                                    </div>

                                    <label>auth code</label>
                                    <div class="clearfix">
                                        <div class="box1">
                                            <input id="email-auth-code" type="text" placeholder="000000" required/>
                                        </div>
                                        <div class="box2">
                                            <button type="button" class="btn btn-warning" th:onclick="'verifyAuthCode()'">인증</button>
                                        </div>
                                    </div>

                                    <label>first name</label>
                                    <input id="sign-up-first-name" type="text" placeholder="first name" required/>

                                    <label>last name</label>
                                    <input id="sign-up-last-name" type="text" placeholder="last name" required/>

                                    <label>password</label>
                                    <input id="sign-up-password" type="password" placeholder="password" required/>

                                    <label>confirm password</label>
                                    <input id="sign-up-confirm-password" type="password" placeholder="confirm password" required/>

                                    <button type="button" class="btn btn-warning" th:onclick="'signUp()'">SIGN UP</button>

                                    <p class="message">Already registered? <a href="#">Sign In</a></p>
                                </form>
                                <form class="transform-form" onsubmit="return false;">
                                    <label>email</label>
                                    <input id="login-email" type="email" placeholder="example@reonaicoffee.com"/>

                                    <label>password</label>
                                    <input id="login-password" type="password" placeholder="password"/>

                                    <button type="button" class="btn btn-warning" th:onclick="'login()'">LOGIN</button>

                                    <p class="message">Not registered? <a href="#">Create an account</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{common/footer :: footer}"></div>
</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div th:replace="~{common/commonjs}"></div>
<script type="text/javascript" th:src="@{/js/login/email.js}"></script>
</body>
</html>