<head><title>RE:ON | SignIn</title></head>
<div th:replace="~{common/head :: head('Login')}"></div>
<link th:href="@{/css/login/login.css}" rel="stylesheet"/>
<body>
<div th:replace="~{common/header :: header('login')}"></div>

<main class="container-login">
    <div class="block-top"></div>
    <div class="login-box">
        <div class="login-row">
            <div class="login-card-body">
                <div class="login-card-content">
                    <h1>Login</h1>
                    <div class="login-page">
                        <div class="login-main-form">
                            <form class="register-form transform-form">
                                <input type="text" placeholder="name"/>
                                <input type="password" placeholder="password"/>
                                <input type="text" placeholder="email address"/>
                                <button>create</button>
                                <p class="message">Already registered? <a href="#">Sign In</a></p>
                            </form>
                            <form class="login-form transform-form">
                                <input id="login-email" type="email" placeholder="email"/>
                                <input id="login-password" type="password" placeholder="password"/>
                                <button th:onclick="'login()'">login</button>
                                <p class="message">Not registered? <a href="#">Create an account</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{common/footer :: footer}"></div>
</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div th:replace="~{common/commonjs}"></div>
<script type="text/javascript" th:src="@{/js/login/login.js}"></script>
</body>
</html>