<div th:replace="~{common/head :: head('Login')}"></div>
<body>
<div th:replace="~{common/header :: header('login')}"></div>
<link th:href="@{/css/login/login.css}" rel="stylesheet"/>

<main class="container-login">
    <div class="block-top"></div>
    <div class="login-box">
        <div class="login-row">
            <div class="login-col">
                <div class="login-card" style="width: 100%; border-radius: 15px;">
                    <div class="login-card-body">
                        <div class="login-card-content">
                            <h1>LOGIN</h1>
                            <h2>Log in easily<br>and use the service.</h2>
                            <ul>
                                <li>
                                    <div class="kakao">
                                        <img width="24" height="24" th:src="@{/img/login/kakao-logo.png}" alt="kakao_logo">
                                        <span>Start with Kakao Account</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="google">
                                        <img width="24" height="24" th:src="@{/img/login/google-logo.png}" alt="google_logo">
                                        <span>Start with Google Account</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="apple">
                                        <img width="24" height="24" th:src="@{/img/login/apple-logo.png}" alt="apple_logo">
                                        <span>Start with Apple Account</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="email">
                                        <span>Start with Email Account</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{common/footer :: footer}"></div>
</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div th:replace="~{common/commonjs}"></div>
<script type="text/javascript" th:src="@{/js/login/login.js}"></script>
</body>
</html>