#temperatureChart, #sensorChart {
    width: 100%;
    height: 500px;
    max-width: 100%;
}
.profile-info {
    margin-top: 20px;
    margin-bottom: 30px;
}
.table th {
    width: 200px;
}
.comment {
    font-size: 15px;
}
.background-black {
    background-color: #44414287; !important;
}
.font-white {
    color: white; !important;
}
.bi-folder::before {
    color: white; !important;
}
.pilot-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.pilot-left {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
.pilot-right {
    padding: 5px;
}